/* formulario.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea[type="text"], input, textarea[type="email"], input, textarea[type="tel"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.button {
  background-color: #FFC107; /* color calido */
  color: #FFFFFF; /* texto blanco */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #FFA07A; /* color calido más intenso al pasar el mouse */
}